{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Organisme {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {'domaine': 'Organisme' }) }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
                    <table id="tableAdministration" class="table table-striped " style="width:100%">
                        <thead>
                        <tr>
                            <th class="all">#</th>
                            <th class="all">Nom de l'organisme</th>
                            <th class="desktop text-center">Référence</th>
                            <th class="all">Description</th>
                            <th class="desktop text-center">
                                <i class="fa fa-boxes"  data-toggle="tooltip" data-placement="top" title="Nombre de corbeilles"></i>
                            </th>
                            <th class="desktop text-center">
                                <i class="fa fa-users"  data-toggle="tooltip" data-placement="top" title="Nombre d'utilisateurs"></i>
                            </th>
                            <th class="all text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for organisme in organismes %}
                            <tr>
                                <td>{{ organisme.id }}</td>
                                <td>
                                    <span class="text-{{ organisme.enable ? 'gray-dark' : 'danger text-bold' }}">
                                        {{ organisme.name }}
                                    </span>
                                </td>
                                <td class="text-center ">{{ organisme.ref }}</td>
                                <td>{{ organisme.content | raw }}</td>

                                <td class="text-center">
                                    {% if   organisme.corbeilles.count==0 %}
                                        <span class="text-light"><i class="fas fa-circle"></i></span>
                                    {% else %}
                                        <small class="badge  bg-info">{{ organisme.corbeilles.count }}</small>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if   organisme.users.count==0 %}
                                        <span class="text-light"><i class="fas fa-circle"></i></span>
                                    {% else %}
                                        <small class="badge  bg-info">{{ organisme.users.count }}</small>
                                    {% endif %}
                                </td>
                                <td class=" d-flex  justify-content-end ">

                                    {{ include('share/__btn_show.html.twig',
                                        {   'url':'organisme_show',
                                            'id':organisme.id,
                                            'mr':true,
                                            'sm':true,
                                        }) }}

                                    {% if is_granted('ROLE_GESTIONNAIRE') %}

                                        {{ include('share/__btn_edit.html.twig',
                                            {   'url':'organisme_edit',
                                                'id':organisme.id,
                                                'sm':true,
                                            }) }}

                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucun d'enregistrement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

        </div>
        {% if is_granted('ROLE_GESTIONNAIRE') %}
            <div class="card-header">
                {{ include('share/__btn_new.html.twig',
                    {'url':'organisme_new'}) }}
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('plugins/datatables/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-bs4/js/dataTables.bootstrap4.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/datatables/organisme.js')) }}"></script>
{% endblock %}